
 <!--
  File name: error.ejs
   Student’s Name: Pok Hei Yeung
   StudentID: 301240885
   Date: 18/10/2022
 -->



 <%- include partials/header.ejs %>


<h1>Error</h1>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>










 <%- include partials/footer.ejs %>